/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

body{
font-family: var(--body-font);
background-color: var(--body-color);
color: var(--text-color);

}
body.dark{
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);

}

img{
max-width: 100%;
display: block;

}

.navbar{
display: flex;
padding: 1rem 1.5rem;
justify-content: space-between;
align-items: center;
box-shadow: 0 1px 4px #2825251a;
color: var(--title-color);
}
.nav-logo{
width: 50px;
fill: hsl(354, 78%, 60%);
z-index: 10;
}
div.menu-special{
  display: none;
}
.icons-wrapper{

display: flex;
gap: 1rem;
align-items: center;
z-index: 10;
}

main{
  padding: 1.5rem;
}

section{

  padding: 1rem 1.5rem;
  height: 22rem;
  margin-bottom: 6rem;
}
h2.primer{
  color: var(--title-color);
 top: 5rem;
}
p.primer{
 top: 5rem;
 margin-top: 2rem;
}

/*ventana menu*/

.menu-container{

  background-color: rgba(211, 211, 211, 0.378);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: left .3s linear;
  padding: 2.5rem 1.5rem 1rem 1.5rem;
  z-index: 15;
  }



.menu-container.hide{
z-index: 10;
left: -100%;
}
.menu{

  background-color: var(--container-color) ;
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -4px 5px 10px rgb(147,147,147);
  padding: 2.5rem 1.5rem 1rem 1.5rem;
  z-index: 10;
}


.menu-close{

  position: absolute;
  top: 1rem;
  right: 1.5rem;
  z-index: 10;
}

ul.home{
list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
margin-top: 4rem;
}
li.home1{
  color: var(--first-color);
}


/*ventana carrito*/
.cart-container{

  background-color: rgba(211, 211, 211, 0.378);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: left .3s linear;
  padding: 2.5rem 1.5rem 1rem 1.5rem;
  z-index: 10;
  }



.cart-container.hide{
z-index: 10;
left: -100%;
}
.cart{

  background-color: var(--container-color) ;
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -4px 5px 10px rgb(147,147,147);
  padding: 2.5rem 1.5rem 1rem 1.5rem;
  z-index: 10;
}


.cart-close{

  position: absolute;
  top: 1rem;
  right: 1.5rem;
  z-index: 10;
}

.cart-shop{
position: relative;

}
.cart-counter{
  padding: 0.25rem;
  background-color: var(--title-color);
  color: var(--body-color);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -8px;
  right: -8px;
  z-index: 10;
}
div.cart-content2{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: centers;
}
div.fathprod{
  width:100%;
  
  background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 3;
  }
  
  div.prod{
    width: 17rem;
    height: 31rem;
    margin-top: -8rem;
    background-color: var(--first-color) ;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    z-index: 3;
  }

  span.price{
    color: var(--first-color);
    margin-left: 1rem;
    margin-top: -2rem;
    font-size: 20px;
    
  }
  div.buttons{
margin-top: 3rem;
height: 5rem;
  }

  .discovery{
    height: 4rem;
    width: 7rem;
    background-color: var(--text-color-light);
    color: var(--title-color);
    font-size: 17px;
font-style: initial;
margin-right: 0;
  }

  .add-cart{
    height: 5rem;
    width: 11rem;
    background-color: var(--button-color-alt);
color: var(--card-color);
font-size: 20px;
font-style: bold;
margin-left: 0;
  }

div.foot{
margin-top: 58rem;
height: 10rem;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
gap: 5rem;

}

h1{
  text-align: center;
}
.gcheck{
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.check{
  height: 3rem;
}

div.art-class{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

  /*SECTION 2*/

  section.dos{
  height: 80rem;
  margin-bottom: 0;
  }
  nav.cherch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  align-items: center;  }

  div.sp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 8rem;
margin-top: 2rem;
    
  }
  div.barra{
background-color: grey;
height: 4rem;
width: 0.2rem;
margin-top: 2rem;

  }
  div.article{
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  div.photo{
    position: relative;
      background-color: var(--card-color);
  }

  img.featured1{

    width: 10rem;
  }
  div.description{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 2rem;
   gap: 1rem;
     }

  div.barra2{
    background-color: grey;
    height: 1rem;
    width: 0.1rem;
  }

  span.plus{
   top: 8rem;
    border-radius: 50%;
    background-color: var(--card-color);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    right: -1rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-color: var(--border-color);
  }
  /*section 3*/

  section.tres{
margin-top: 0;
    background-color: var(--card-color);
    height: 48rem;
    margin-bottom: 0;
  }

  div.contact{
    margin-top: 4rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  div.redes{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 1rem;
  }
  h3{
    font-size: 16px;
  }
  img.facebook{

    width: 2.2rem;
  }
  /*contenido carrito*/
div.general{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
}


  div.cart-content{
width: 15rem;
height: 30rem;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin-top: 15rem;
 flex-wrap: wrap;
 position: absolute;

  }
  
  
  img.featured{
   
    width: 5rem;
    
  }

  div.description2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0;
   
      }

      div.line2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      div.plus-minus{
        display: flex;
        flex-direction: row;
        justify-content: space-around
      }
      img.caneca{
       right: 3rem;
        width: 1rem;
  
      }

      div.empty{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      div.empty1{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
   
      }
      /*DOCUMENT LOADED*/

      .loader{
        background-color: whitesmoke;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        
        }
        
        .loader.hide{
        
            display: none;
        }
        .loader > svg{
          position: relative;
            width: 100px;
            top: 0;
            animation: load 1.5s infinite;
        }
        p{
            z-index: 20;
        }
        
        @keyframes load{
        
        0%{
         top: 0;
        fill: darkcyan;
        }
        
        50%{
        
        top: -30px;
        fill: blue;
        }
        
        100%{
              top: 0;
        fill: red;
        }
        }
      }
       
      
      /* responsive min600*/

      @media only screen and (min-width: 600px) {

        body{
        font-family: var(--body-font);
        background-color: var(--body-color);
        color: var(--text-color);
        
        }

        .principal-content{

             display: flex; 
             flex-direction: row-reverse;
            ;
                     }
        body.dark{
          --first-color: hsl(182, 53%, 74%);
          --button-color: hsl(246, 16%, 12%);
          --button-color-alt: hsl(0, 0%, 28%);
          --card-color: hsla(246, 16%, 5%, .5);
          --title-color: hsl(0, 0%, 95%);
          --text-color: hsl(0, 0%, 75%);
          --body-color: hsl(249, 19%, 14%);
          --container-color: hsl(246, 16%, 12%);
          --border-color: hsl(0, 0%, 20%);
        
        }
        
        img{
        max-width: 100%;
        display: block;
        
        }
        
        .navbar{
        display: flex;
        padding: 1rem 1.5rem;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 4px #2825251a;
        color: var(--title-color);
        }
        .nav-logo{
        width: 50px;
        fill: hsl(354, 78%, 60%);
        z-index: 10;
        }
        
        .icons-wrapper{
        
        display: flex;
        gap: 1rem;
        align-items: center;
        z-index: 10;
        }
        
        main{
          
          padding: 1.5rem;
        }
        
        section{
        order: 1;
          padding: 1rem 1.5rem;
          height: 22rem;
          margin-bottom: 6rem;
        }
        h2.primer{
          color: var(--title-color);
         top: 5rem;
        }
        p.primer{
         top: 5rem;
         margin-top: 2rem;
        }
        
        /*ventana menu*/
        
        .menu-container{
        
          background-color: rgba(211, 211, 211, 0.378);
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 50;
          transition: left .3s linear;
          padding: 2.5rem 1.5rem 1rem 1.5rem;
          z-index: 15;
          }
        
        
        
        .menu-container.hide{
        z-index: 10;
        left: -100%;
        }
        #menu-btn{
          display: none;
        }
        .menu{
        
          background-color: var(--container-color) ;
          width: 100%;
          height: 100%;
          max-width: 400px;
          position: absolute;
          top: 0;
          right: 0;
          box-shadow: -4px 5px 10px rgb(147,147,147);
          padding: 2.5rem 1.5rem 1rem 1.5rem;
          z-index: 10;
        }
        div.nav-start{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 1rem;
        }
    
        
        ul.home-special{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        margin-top: 1.3rem;
        
        }
        li.home1{
          color: var(--first-color);
        }
        
        
        /*ventana carrito*/
          span.check{position: static;
         }

        .cart-container{
        
          background-color: rgba(211, 211, 211, 0.378);
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 50;
          transition: left .3s linear;
          padding: 2.5rem 1.5rem 1rem 1.5rem;
          z-index: 10;
          }
        
        
        
        .cart-container.hide{
        z-index: 10;
        left: -100%;
        }
        .cart{
        
          background-color: var(--container-color) ;
          width: 100%;
          height: 50rem;
         
          max-width: 400px;
          position: absolute;
          top: 0;
          right: 0;
          box-shadow: -4px 5px 10px rgb(147,147,147);
          padding: 2.5rem 1.5rem 1rem 1.5rem;
          z-index: 10;
        }
        
        
        .cart-close{
        
          position: absolute;
          top: 1rem;
          right: 1.5rem;
          z-index: 10;
        }
        
        .cart-shop{
        position: relative;
        
        }
        .cart-counter{
          padding: 0.25rem;
          background-color: var(--title-color);
          color: var(--body-color);
          border-radius: 50%;
          width: 1.25rem;
          height: 1.25rem;
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: -8px;
          right: -8px;
          z-index: 10;
        }
        
        div.fathprod{
          width:100%;
          
          background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            z-index: 3;
          }
          
          div.prod{
            width: 17rem;
            height: 31rem;
            margin-top: -8rem;
            background-color: var(--first-color) ;
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items: flex-end;
            z-index: 3;
          }
        
          span.price{
            color: var(--first-color);
            margin-left: 1rem;
            margin-top: -2rem;
            font-size: 20px;
            
          }
          div.buttons{
            display: flex;
            flex-direction: row;
            justify-content: inherit;
        margin-top: 3rem;
        height: 5rem;
          }
        
          .discovery{
            height: 4rem;
            width: 7rem;
            background-color: var(--text-color-light);
            color: var(--title-color);
            font-size: 17px;
        font-style: initial;
        margin-right: 0;
          }
        
          .add-cart{
            height: 5rem;
            width: 11rem;
            background-color: var(--button-color-alt);
        color: var(--card-color);
        font-size: 20px;
        font-style: bold;
        margin-left: 0;
          }
   

          /*SECTION 2*/
        
          section.dos{
          height: 30rem;
          margin-bottom: 0;
          }
          nav.cherch{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
          align-items: center;  }
        
          div.sp{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        width: 8rem;
        margin-top: 2rem;
            
          }
          div.barra{
        background-color: grey;
        height: 4rem;
        width: 0.2rem;
        margin-top: 2rem;
        
          }
          div.article{
            margin-top: 5rem;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
          }
          div.article-tot{
            width: 100%;
              display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            }




          div.photo{
            position: relative;
              background-color: var(--card-color);
          }
        
          img.featured1{
        
            width: 10rem;
          }
        
          div.description{
           display: flex;
           flex-direction: row;
           justify-content: space-evenly;
           margin-top: 2rem;
           gap: 1rem;
             }
        
          div.barra2{
            background-color: grey;
            height: 1rem;
            width: 0.1rem;
          }
        
          span.plus{
           top: 8rem;
            border-radius: 50%;
            background-color: var(--card-color);
            width: 2.5rem;
            height: 2.5rem;
            font-size: 2rem;
            right: -1rem;
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-color: var(--border-color);
          }
          /*section 3*/
        
          section.tres{
      
            background-color: var(--card-color);
            height: 20rem;
            margin-bottom: 0;
          }
        
          div.g4{
           
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          div.contact{
            margin-top: 5rem;
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
            
          }
          div.redes{
        
            display: flex;
            flex-direction: row;
            justify-content:flex-start;
            gap: 1rem;
          }
          h3{
            font-size: 16px;
          }
          img.facebook{
        
            width: 2.2rem;
          }
          /*contenido carrito*/
        div.general{
        
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 15rem;
        }
        
        
          div.cart-content{
        width: 15rem;
        height: 30rem;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         margin-top: 15rem;
         flex-wrap: wrap;
         position: absolute;
        
          }
          
          
          img.featured{
           
            width: 5rem;
            
          }
        
          div.description2{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 0;
           
              }
        
              div.line2{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
              }
              div.plus-minus{
                display: flex;
                flex-direction: row;
                justify-content: space-around
              }
              img.caneca{
               right: 3rem;
                width: 1rem;
          
              }
        
              div.empty{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              }
              div.empty1{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
           
              }
              /*DOCUMENT LOADED*/
        
              .loader{
                background-color: whitesmoke;
                width: 100%;
                height: 100%;
                position: fixed;
                left: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 100;
                
                }
                
                .loader.hide{
                
                    display: none;
                }
                .loader > svg{
                  position: relative;
                    width: 100px;
                    top: 0;
                    animation: load 1.5s infinite;
                }
                p{
                    z-index: 20;
                }
                
                @keyframes load{
                
                0%{
                 top: 0;
                fill: darkcyan;
                }
                
                50%{
                
                top: -30px;
                fill: blue;
                }
                
                100%{
                      top: 0;
                fill: red;
                }
                }
              }
   